<?xml version="1.0"?>
<configuration>

    <connectionStrings>
      <add name="myConnectionString" connectionString="DefaultEndpointsProtocol=http;AccountName=taskstorage;AccountKey=S7YxPLj8qIUZq0h/pik7NQnmT2+wD4O0G4hzZEn2UOkQ06iUg8e1bX8m8S5d2iPJuhkJfeWAYGUdRsi/N9UhIA=="/>
    </connectionStrings>
  
</configuration>
