<?xml version="1.0"?>
<configuration>

    <connectionStrings>
      <add name="myConnectionString" connectionString="DefaultEndpointsProtocol=http;AccountName=taskstore;AccountKey=bx8EmDQNCJ289zpnQr3jmL6CKr0IQHm826QNDHdsVUbQGkG6s3ehx7tDRP4zVpkCiS5HYIOJF/E9ilY/9xXwkg=="/>
    </connectionStrings>
  
</configuration>
