bin/
obj/
corpweb/BuiltSteadyWeb/bin/
service/TaskStoreWeb/Bin/
*.suo
*.user
XapCacheFile.xml
source/winphone/TaskStoreWinPhone/PerformanceLogs/
source/winphone/TaskStoreWinPhone/bak/
source/packages/NSpeex.1.1/lib/old/

