/*----------------------------------------------------------
Reset all styling
----------------------------------------------------------*/
html {
    min-height: 100%;
}

body {
    overflow-y: hidden;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    min-height: 100%;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
    spellcheck: false;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img { border: 0; }

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
    font-style: inherit;
    font-weight: inherit;
}

del,ins { text-decoration: none; }
li { list-style: none; }
caption,th { text-align: left; }

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,q:after { content: ''; }

abbr,acronym {
    border: 0;
    font-variant: normal;
}

sup { vertical-align: baseline; }
sub { vertical-align: baseline; }
legend { color: #000; }

input,button,textarea,select,optgroup,option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    spellcheck: false;
}

input,button,textarea,select { *font-size: 100%; spellcheck:false;}

textarea {
    resize:none;
    spellcheck:false;
}

/*----------------------------------------------------------
Default site styling
----------------------------------------------------------*/
.site-default 
{
    background-color: #ecece4;
    font-size: 14px;
    font-family: "lucida grande", "segoe ui", tahoma, verdana, arial, sans-serif;
    color: #1d2a5b;
}

a:link { color: #034af3; text-decoration: none; }
a:visited { color: #505abc; }
a:hover { color: #1d60ff; text-decoration: none; }
a:active { color: #12eb87; }

a { color: inherit; outline: none; cursor: pointer; }
a:link { color: inherit; text-decoration: none; }
a:visited { color: inherit; }
a:hover { color: inherit; }
a:active { color: inherit; }
button::-moz-focus-inner, a::-moz-focus-inner, input::-moz-focus-inner, a::-moz-focus-inner { border: 0; }

h1, h2, h3, h4, h5, h6 {    
    font-family: "lucida grande", "segoe ui", tahoma, verdana, arial, sans-serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }

/* LAYOUT ELEMENTS   
----------------------------------------------------------*/

.layout-region {
    width: auto;
}

.header-region {   
    background-color: black;
    padding: 20px 0 0 60px;
}

.main-content-region {
    min-width: 600px;
    min-height: 450px;
}

.main-content {
    text-align: center;
    margin: 15px 60px 15px 60px;
}

.content-text {
    text-align: left;
    max-width: 600px;
    margin-bottom: 50px;
    display: inline-block;
}

.content-text p {
    margin-bottom: 5px;
}

.footer-region {
    color: #CCCCCC;
    font-size: 14px;
    background-color: black;
    width: 100%;
    position: absolute; 
    bottom: 0px;
}

.header-gradient-rule {
    /* FireFox 3.6 */    
    background-image: -moz-linear-gradient(top, #000, #CCC);         
    /* Safari4+, Chrome */    
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #000),color-stop(1, #CCC));         
    /* IE6,IE7 */    
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#FFCCCCCC', GradientType='0');         
    /* IE8 */    
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#FFCCCCCC', GradientType='0');         
    
    background-color: black;
    width:100%;    
    height:15px;
}

.footer-gradient-rule {
    /* FireFox 3.6 */    
    background-image: -moz-linear-gradient(top, #CCC, #000);         
    /* Safari4+, Chrome */    
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #CCC),color-stop(1, #000));         
    /* IE6,IE7 */    
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCCCCCC', endColorstr='#80000000', GradientType='0');         
    /* IE8 */    
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCCCCCC', endColorstr='#80000000', GradientType='0');         
    
    background-color: black;
    width:100%;    
    height:15px;
}

.logo img {
    opacity:0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;	
	transition: opacity 1s ease-in-out;
}

.logo img.fadein {
	opacity:1;
}	

.copyright {
    text-align: center;
    margin: 10px 10px 5px 0;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
/*
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
*/
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCCCCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #CCCCCC;
    padding: 2px 3px 2px 3px;
    font-size: 1em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #CCCCCC;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1em;
    padding: 0px 5px 0px 5px;
}

.control-button 
{
    cursor: pointer;
    color: #DDDDDD;
    width: 120px;
    height: 28px;
    display: inline-block;
    background: transparent url(../images/red-button.jpg) no-repeat;
    padding: 4px 0 0 0;
}

/* MISC  
----------------------------------------------------------*/
.clear { clear: both; }
.error { color: red; }

.display-none { display: none; }
.display-block { display: block; }
.display-inline { display: inline; }
