<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="SQLExpress" connectionString="data source=.\SQLEXPRESS;Initial Catalog=TaskStore;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="TaskStore" connectionString="data source=vsumu2dd1a.database.windows.net;Initial Catalog=TaskStore;User Id=taskstoreadm;Password=zrc022.." providerName="System.Data.SqlClient" />
  <add name="TaskStoreEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vsumu2dd1a.database.windows.net;initial catalog=TaskStore;persist security info=True;user id=taskstoreadm;password=zrc022..;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <!--<add key="Connection" value="SQLExpress"/>-->
    <add key="Connection" value="TaskStore" />
  </appSettings>
</configuration>