.aboutbody
{
    min-width: 800px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.mobilebody
{
    min-width: 800px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.mobilebody td 
{
    border-bottom: 0;
    border-top: 0;
    border-left: 2px solid black;
    border-right: 0;
}

td.firsttd
{
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.subnav { float: left; display: inline; width: 210px; font-size: 12px; margin: 0 0 0 13px; margin-left: 0; margin-right: 0; padding-left: 50px; }
.subnav div { line-height: 1.5; }
.subnav div a img { margin: 10px 0 0 0; }
.subnav ul { margin: 0 0 50px 0; padding: 0; list-style-type: none; }
.subnav ul li { margin: 0; padding: 0; list-style-type: none; }
.subnav ul li a { display: block; padding: 6px 0 6px 0; font-size: 1.5em; text-decoration: none; color: #1d2a5b; border-bottom: 1px solid #e8eaeb; }
.subnav ul li a:hover { text-decoration: none; background: #f9fbf0; }
.subnav ul li a.active { font-weight: bold; }
.contentArea { width: 425px; float: left; display: inline; font-size: 12px; line-height: 1.5; margin: 0 13px 0 0; padding-left: 50px; margin-left: auto; margin-right: auto; padding-right: 50px; }

#contentAreaBox { border: 1px solid #dff2fa; position: relative; width: 405px; float: left; padding: 10px; margin-top: 10px; }
#contentAreaBox a { font-weight: bold; }
.overlay { width: 425px; position: absolute; top: 0; bottom: 0; left: 0; background: #fff; filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; }
.tdcol3 { width: 400px; float: left; display: inline; position: relative; }
		
.buffer { padding-top: 27px; }

.clear {
 display:inline-block;
}
.clear:after {
 display:block; 
 visibility:hidden; 
 clear:both; 
 height:0; 
 content: "."; 
}
a { text-decoration: none; outline: none; }
.staygrey { color: #68737a; }
.staygreen { color: #a4ba10; }
a:hover { text-decoration: underline; }
a img, img a { border: 0; }
.img-right {float: right; margin: 0 0 10px 10px;}
.img-left {float: left; margin: 0 10px 10px 0;}

.leadershipDivTop { display:block; width:100%; margin: 0px; border-bottom: 1px solid #dff2fa; min-height: 160px; }
.leadershipDivMiddle { display:block; width:100%; margin-top: 10px; border-bottom: 1px solid #dff2fa; min-height: 160px; }
.leadershipDivBottom { display:block; width:100%; margin-top: 10px; margin-bottom: -10px; min-height: 160px; }
.leadershipDivLeft { float: left; display: inline; width: 334px; padding:0 15px 0 0; border-right: 1px solid #dff2fa; }
.leadershipDivRight { float: right; display: inline; width: 335px; padding:0 0 0 15px; }

.twoDivLeft { float: left; display: inline; width: 333px; padding:0 15px 0 0; border-right: 1px solid #dff2fa; }
.twoDivRight { float: right; display: inline; width: 333px; padding:0 0 0 15px;}

.threeDivLeft { float: left; display: inline; width: 211px; padding:0 15px 0 0; border-right: 1px solid #dff2fa; }
.threeDivMiddle { float: left; display: inline; width: 211px; padding:0 15px 0 15px; border-right: 1px solid #dff2fa; }
.threeDivRight { float: left; display: inline; width: 211px; padding:0 0 0 15px; }


/* makes all images "light up" on hover */
a:hover img, input.btn:hover { filter: alpha(opacity=75); -moz-opacity: 0.75; opacity: 0.75; }

h3 { font-size: 16px; font-weight: bold; margin: 0 0 10px 0; }
h4 { font-size: 14px; font-weight: bold; margin: 0 0 10px 0; }
h5 { font-size: 13px; font-weight: lighter; font-style:italic; margin: 0 0 5px 0;}

.nomargin {margin: 0 0 0 0;}

/* tables */
table { border: 0; max-width: 800px; }
td.header { background: #eff8fd; padding: 8px 5px; font-weight: bold; font-size: 12px; }
td { border-bottom: 1px solid #e2f3fa; border-top: 1px solid #fff; padding: 5px; margin: 1px 0 0 0; background: #fff; }
td.fill { background: #f2fafd; }
.nolines { width: 100%!important; }
.nolines td { border: 0; padding: 2px 0 2px 0; background: transparent; }
.floatleft { float: left; margin: 0 0 0 13px; }
.full-width { width: 100%; }
.half-width { width: 50%; }

.half-width-centered { margin-left: 8%; margin-right: 8%; margin-top: 30px; max-width: 800px; }
.half-width-centered p { text-align: justify; margin-top: 10px;}

/* lists */
ul { margin: 6px 0 15px 0; padding: 0; }
ul li { margin: 2px 0 6px 20px; padding: 0 }
ul.nomargin { margin-top: 0; margin-bottom: 0; }
ul.nomargin li { margin-top: 0; margin-bottom: 0; }

/*#main { min-width: 900px; }*/