/* TaskStore.css */

/* globals */
*
{
    margin: 0px;
    padding: 0px;
    outline: none !important;
    text-decoration: none;
}
li
{
    list-style: none;
}

/* classes */

/* classes for login menu */

#loggedin .ui-icon
{
    background-image: url("/images/icons/ui-icons_222222_256x240.png");
}

#loginmenu
{
    z-index:10000;
    font-size: 1em;
}

.sep
{
    margin-bottom: 0px;
}

.loginmenuitem
{
    min-width: 150px;
    z-index:10 !important      
}

.loginmenuitem, .ui-menu .ui-menu-item a
{
    line-height: 1.2em;
    z-index: 10 !important;  
}

/* classes for each task line item */

.checkboxicon
{
    width: 15px;
    height: 15px;
    background: url(/Images/icons/checkbox.png) no-repeat;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 8px;
    margin-top: -1px;
}
.input-checked
{
    position: relative;
    left: 30px;
}
.checked
{
    background-position: 0px -15px !important;
}
.description
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    right: 132px;
    left: 70px;
    top: 0px;
    padding-top: 3px;
    height: 27px;
    display: block;
    color: #333;
}
.red
{
    color: #c30;
}

/* classes for dialogs */

.dialog-delete-task, .dialog-delete-list
{
    width: 400px !important;
}
.dialog-edit-task, .dialog-edit-list
{
    width: 500px !important;
}
.dialog-change-password, .dialog-manage-settings
{
    width: 500px !important;
}
.dialoginputfield
{
    width: 325px;
}
.editdialogcontent
{
    display: inline;
}
.fieldname, td.fieldname
{
    width: 200;
}

/* add bar */

div.add
{
    margin-bottom: 20px;
    position: relative;
    height: 33px;
    background: url(/Images/icons/addbar.png) repeat-x;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
}
div.add div.addwrapper
{
    width: auto !important;
    position: absolute;
    right: 90px;
    top: 0px;
    left: 28px;
}
div.add div.addwrapper input
{
    width: 100%;
    margin: auto !important;
    padding: 10px 0px;
    background: none;
    font-family: Arial, Verdana;
    font-size: 13px;
    color: #fff;
    border: none;
}
div.add div.addwrapper.filter-add
{
    left: 10px !important;
}
div.add .showdate
{
    position: absolute;
    right: -70px !important;
    top: 10px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}

/* tasklists */

#tasklists
{
    min-height: 360px;
}

#tasklists ul
{
    min-width: 300px !important;
}
#tasklists .tasklist, #tasklists .mainlist
{
    margin-bottom: 12px;
}
#tasklists .tasklist li, .mainlist li
{
    background: url(/Images/icons/task.jpg) repeat-x;
    -webkit-box-shadow: 0px 1px 3px #333;
    -moz-box-shadow: 0px 1px 3px #333;
    box-shadow: 0px 1px 3px #333;
    padding: 7px 0px 0px 8px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    margin-bottom: 5px;
}

#tasklists li.tasklistheader
{
    background: none;
    -webkit-box-shadow: 0px 0px 0px #000;
    -moz-box-shadow: 0px 0px 0px #000;
    box-shadow: 0px 0px 0px #000;
    padding: 7px 0px 0px 8px;
    position: relative;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-radius: 0px;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    margin-bottom: 5px;
}

#tasklists span.icon
{
    height: 14px;
    display: block;
    float: left;
    width: 14px;
    margin-right: 7px;
}
#tasklists span.delete
{
    background: url(/Images/icons/delete_active.png);
    opacity: 0.5;
    float: right;
    display: none;
    cursor: pointer;
    height: 16px;
}
#tasklists span.delete:hover
{
    opacity: 0.8;
}
#tasklists span.note
{
    position: absolute;
    right: 20px;
    top: 7px;
    background: url(/Images/icons/note.png);
    display: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-top: -1px;
    text-indent: -8765px;
    overflow: hidden;
    color: transparent;
}
#tasklists .mainlist li:hover span.note
{
    display: block;
}
#tasklists span.activenote
{
    display: block;
    background: url(/Images/icons/note-active.png);
}
#tasklists span.lowpri
{
    width: 22px;
    height: 22px;
    margin-top: -4px;
    background: url(/Images/priority.low.png) no-repeat;
    cursor: pointer;
}
#tasklists span.normalpri
{
    width: 22px;
    height: 22px;
    margin-top: -4px;
    background: url(/Images/priority.none.png) no-repeat;
    cursor: pointer;
}
#tasklists span.highpri
{
    width: 22px;
    height: 22px;
    margin-top: -4px;
    background: url(/Images/priority.high.png) no-repeat;
    cursor: pointer;
}
.mainlist li .ui-datepicker-trigger
{
    position: absolute;
    right: 44px;
    top: 7px;
    display: none;
    background: url(/Images/icons/star.png);
}
#tasklists .mainlist li:hover .ui-datepicker-trigger
{
    display: block;
}
/* this one could be done in code */
#tasklists .mainlist li:hover span.delete
{
    display: block;
}

#tasklists .showdate
{
    position: absolute;
    right: 52px;
    font-size: 12px;
    font-weight: bold;
    top: 3px;
}

#tasklists .header-date
{
    position: absolute;
    right: 52px;
    top: 3px;
    font-size: 1.3em;
}

#tasklists .header-name
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    right: 132px;
    left: 70px;
    top: 0px;
    padding-top: 3px;
    height: 27px;
    display: block;
    color: #333;
    font-size: 1.3em;
}

#tasklists .header-pri
{
    position: absolute;
    left: 40px;
    top: 3px;
    font-size: 1.3em;
}

#tasklists li .ui-icon-close 
{ 
    float: left; 
    margin: 0.4em 0.2em 0 0; 
    cursor: pointer; 
    background-image: url("/images/icons/ui-icons_222222_256x240.png");
}

#tasklists .separator
{
    margin-top: 20px;
    margin-bottom: 20px;
}

